doctype html
html
	head
		title Straw Poll
		link(rel='stylesheet' href='/style/style.css')
		script(src='/js/util.js')
		block scripts
	body
		header
			a.title(href='/') Straw Poll
		main
			block content
		footer
			span app created by: 
				a(href='https://github.com/mic-max') mic-max
			block version
